/* 
 * Red/Green/Blue (RGB) color codes.  In the RGB color model, colors are a blend of red,
 * green, and blue.  See https://www.w3schools.com/csS/css_colors.asp for a quick intro.
 *
 * RGB codes in CSS are numbers between 0 and 255, written as hexadecmial (base-16) numbers.
 * The hexadecimal digits (0 to 15 in base-10) are 0, 1, 2, ..., 9, A, B, C, D, E, F.
 * In RGB, black is #000000 and white is #FFFFFF.
 * 
 * There are a number of color calculators online (e.g, https://rgbcolorcode.com/).
 *
 * Here are some colors I use:
 *   #FFD700: a gold like the W&M gold.
 *   #006400: a green like the W&M green.
 *   #FFFF00: a nice, rich, egg yolk yellow.
 *   #D9D9D9: a light blue-grey, a little lighter than a USAF dress uniform.
 *   #252E3A: a dark, steel grey
 * 
 * Official W&M colors, courtesy of the W&M logo police (http://styleguide.wm.edu/university-colors/).
 *   green:       #115740 / R  17  G  87  B 64
 *   gold:        #B9975B / R 185  G 151  B 91
 *   spirit gold: #F0B323
 *   silver:      #D0D3D4 
 */

/* Set the colors of hyperlinks before and after being visited. */
a:link    {color: #115740;}
a:visited {color: #B9975B;}

/* Header colors. */
h1 {color: #115740;}
h2 {color: green;}
h3 {color: red;
    background-color: blue;}
h4 {color: orange;}

/* Create an "alert" class for paragraphs with special colors. */
p.alert {color: white; 
	 background-color: red;}

/* Set the font for preformatted text. */
pre.poetry {font-family: Georgia;
	    font-size: 18pt;
	    margin: 0;}

/* Add a 10 pixel wide border on the left-hand side of blockquotes. */
blockquote {border-left: 10px solid #FFD700; padding: 0em 1.5em;}

/* Some variants of lists. */
ol.upper_roman {list-style-type: upper-roman;}
ul.square {list-style-type: square;}

table, th, td {border: 3px solid cyan;}

/* Create a "line100" class for divs that extends across 100% of the window. */
div.line100 {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    font-size: 1px;
}